{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "endOfLine": "auto",
  "arrowParens": "always",
  "bracketSpacing": true
}
