@import 'tailwindcss';

/*
matine dark9
matine gray1
*/
:root {
  --foreground: #141414;
  --background: #f1f3f5;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

html,
body {
  background: var(--background);
  color: var(--foreground);
  padding: 0;
  margin: 0, auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
